ul {
    list-style:none;
}

html {
    font-size: 16pt
}

body {
    line-height: 1.0;
	min-width: 320px;
	background-color: #D4ECEC;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 4px;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 14.4px;
	font-weight: normal;
	letter-spacing: 0px;
	margin: 0 4px;
	padding: 4px 8px;
	text-indent: 0px;
}

table {
    border-collapse:collapse;
    border-spacing:0px;
}

hr {
	align-items: center;
	border: 0;
	display: flex;
	justify-content: center;
	min-height: 16px;
	position: relative;
	width: 100%;
}

strong {
	color: inherit;
	font-weight: bolder;
}

mark {
	background-color: rgba(144,144,144,0.25);
}


label {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}


h1, h3 {
    position: relative;
    margin: 0px;
}

h1.page-header {
    margin: 0px;
    padding: 0px;
}

u {
	text-decoration: underline;
}

p {
    position: center;
    margin-top: -15px;
}

#wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 2;
}

#main {
    --alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: center;
}

#main > .inner {
	--padding-horizontal: 24.4px;
	--padding-vertical: 0px;
	--spacing: 0px;
	--width: 864px;
	max-width: 100%;
	position: relative;
	width: var(--width);
	padding: var(--padding-vertical) var(--padding-horizontal);
}


#main > .inner > .full.screen {
	max-width: 958px;
	position: relative;
	width: 958px;
	left: 50%;
	margin-left: -479px;
	right: auto;
}

.container {
	position: relative;
	align-content: center;
}

.container > .wrapper {
	vertical-align: center;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

#container01 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container01 > .wrapper > .inner {
	--gutters: 2px;
	--padding-horizontal: 4px;
	--padding-vertical: 6px;
	--spacing: 4px;
	padding: 2px;
}

#container02 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container02 > .wrapper > .inner {
	--padding-horizontal: 0px;
	--padding-vertical: 0px;
	--spacing: 4px;
	--display: flex;
	justify-items: center;
}

#container03 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: flex-end;
	justify-content: center;
	background-color: #FFFFFF;
}

#container03 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

#container03 > .wrapper > .inner {
	--padding-horizontal: 4px;
	--padding-vertical: 12px;
	--spacing: 6px;
}

#container03.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container04 {
	align-content: center;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #63646F;
}

#container04 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

#container04 > .wrapper > .inner {
	--gutters: 32px;
	--padding-horizontal: 4px;
	--padding-vertical: 6px;
	padding: 2px;
	position: relative;
}

#container05 {
	align-content: center;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #63646F;
}

#container05 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

#container05 > .wrapper > .inner {
	--gutters: 32px;
	--padding-horizontal: 4px;
	--padding-vertical: 6px;
	padding: 2px;
	position: relative;
}

#container06 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: absolute;
	justify-content: center;
	background-color: #FFFFFF;
	border-width: 1px;
}

#container06 > .wrapper > .inner {
	--padding-horizontal: 4px;
	--padding-vertical: 12px;
	--spacing: 6px;
}

#container07 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: column;
	justify-content: center;
	background-color: #FFFFFF;

}

#container07 > .wrapper {
	max-width: 538px;
	width: 100%;
	align-content: center;
}

#container07 > .wrapper > .inner {
	--padding-horizontal: 4px;
	--padding-vertical: 12px;
	--spacing:16px;
	display: center;
}


#container08 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	background-color: #FFFFFF;
}

#container08 > .wrapper {
	max-width: 768px;
	width: 100%;
}

#container08 > .wrapper > .inner {
	--gutters: 4px;
	--padding-horizontal: 6px;
	--padding-vertical: 10px;
	--spacing: 4px;
	padding-left:2;
}

#container08.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container08 > .wrapper > .inner {
	--gutters: 4px;
	--padding-horizontal: 6px;
	--padding-vertical: 10px;
	--spacing: 4px;
	margin-left:32px;
}
	
#container08.columns > .wrapper > .inner {
	flex-direction: column 
	flex-wrap: nowrap 
}

.image {
	display: block;
	line-height: 0;
	position: relative;
}

.image .frame {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.image .frame img {
	border-radius: 0;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}


#divider01 {
	width: 272px;
	background-color: #63646F;
	height: 3%;
	border-radius: 5px;
	margin-top: 16px;
}

#text01 {
    text-align: center;
	color: #E36666;
	font-family: 'Bakbak One', sans-serif;
	letter-spacing: -0.8px;
	width: 100%;
	font-size: 60px;
	line-height: 0.75;
	font-weight: 400;
    margin-top: 16px;
}

#text02 {
	text-align: center;
    color: #63646F;
	font-family: 'Aleo', serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 16px;
	line-height: 1.375;
	font-weight: 700;
    margin-top: 16px;
}

#text03 {
	text-align: center;
    color: #63646F;
	font-family: 'Alexandria', sans-serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 14px;
	line-height: 1.25;
	font-weight: 300;
    margin-bottom: 20px;
}

#text04 {
	text-align: center;
    color: #63646F;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 0.8px;
	font-size: 10px;
	line-height: 1.375;
	font-weight: 300;
	align-content: center;
}

#text045 {
	text-align: center;
    color: #63646F;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 0.8px;
	font-size: 10px;
	line-height: 1.375;
	font-weight: 300;
	margin-top: 8px;
	align-content: center;
}

#text05 {
    text-transform: uppercase;
	color: #CCBC9C;
	font-family: 'Aleo', serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 20px;
	line-height: 1.375;
	font-weight: 700;
	margin-bottom: 20px;
	align-content: center;
}

#text06 {
	text-align: center;
    color: #63646F;
	font-family: 'Alexandria', sans-serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 14px;
	line-height: 1.25;
	font-weight: 300;
    margin-bottom: 20px;
	align-content: center;
}

#text07 {
	color: #1f1d1d;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 0.8px;
	width: calc(100% + 0.8px);
	font-size: 8px;
	line-height: 1.375;
	font-weight: 300;
	margin-bottom: 1.6px;

}

#text08 {
	text-transform: uppercase;
	color: #808080;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 10px;
	line-height: 1.5;
	font-weight: 400;
	margin-top: -0.32px;
	margin-bottom: -1.6px;
}

#text09 {
	text-align: center;
	color: #E8E8E8;
	font-family: 'Aleo', serif;
	padding-left: 0;
	padding-right: 6px;
	letter-spacing: 0px;
	width: 100%;
	font-size: 10px;
	line-height: 1.375;
	font-weight: 700;
	margin-top: 0.32px;
	margin-bottom: -1.6px;
}

#text10 {
	text-align: center;
	text-transform: uppercase;
	color: #CCBC9C;
	font-family: 'Aleo', serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 34px;
	line-height: 1.375;
	font-weight: 700;
	text-decoration: none;
	margin-top: 16px;
}

#text11 {
	text-align: left;
	color: #63646F;
	font-family: 'Alexandria', sans-serif;
	padding-left: -4.8px;
	padding-right: 0px;
	letter-spacing: 0px;
	width: 100%;
	font-size: 14px;
	line-height: 0.75;
	font-weight: 300;
	text-decoration: none;
	margin-top: 16px;
	margin-bottom: -0.32px;
	margin-left: 24px;
}

#text12 {
	text-align: center;
	color: #63646F;
	font-family: 'Alexandria', sans-serif;
	padding-left: 0px;
	padding-right: 0px;
	letter-spacing: 0px;
	width: 100%;
	font-size: 14px;
	line-height: 0.75;
	font-weight: 300;
	text-decoration: none;
	margin-top: 16px;
	margin-bottom: -0.32px;
}

#text13 {
	color: #63646F;
	font-family: 'Aleo', serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 14px;
	line-height: 1.375;
	font-weight: 400;
	margin-top: 96px;
	margin-bottom: 10px;
}

#text14 {
	color: #63646F;
	font-family: 'Aleo', serif;
	letter-spacing: -0.4px;
	width: 100%;
	font-size: 12px;
	line-height: 1.375;
	font-weight: 400;
	margin-top: 6.4px;
	margin-bottom: 10px;
}

#text15{
	text-align: center;
	color:  #63646F;
	font-family: 'Aleo', serif;
	padding-left: 0;
	padding-right: 6px;
	letter-spacing: 0px;
	width: 100%;
	font-size: 10px;
	line-height: 1.375;
	font-weight: 700;
	margin-top: 0.32px;
	margin-bottom: -1.6px;
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: center;
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 80%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

#buttons01 {
	gap: 4px;
	flex-direction: column;
	flex-wrap: nowrap;
}

#buttons01 li a {
	display: inline-block;
	width: 276px;
	height: 48px;
	line-height: 48px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 22px;
	font-weight: 400;
	border-radius: 10px;

}

#buttons01 .button {
    background-color: #95CCC3;
	color: #FFFFFF;
}

#buttons02 {
	gap: 4px;
}

#buttons02 li a {
	display: inline-block;
	width: 160px;
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Aleo', serif;
	font-size: 12px;
	font-weight: 400;
	border-radius: 10px;
}

#buttons02 .button {
	background-color: #95CCC3;
	color: #FFFFFF;
}

#buttons03 {
	gap: 0px;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons03 li a {
	display: inline-block;
	width: 280px;
	height: 38px;
	line-height: 38px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border-radius: 0px;
}

#buttons03 .button {
	background-color: #E6E6E6;
	color: #E6E6E6;
}

#buttons04 {
	gap: 0px;
	flex-direction: row;
	flex-wrap: wrap;

}

#buttons04 li a {
	display: inline-block;
	width: 280px;
	height: 38px;
	line-height: 38px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border-radius: 0px;
}

#buttons04 .button {
	background-color: #E6E6E6;
	color: #E6E6E6;
}

#buttons05 {
	gap: 4px;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons05 li a {
	display: inline-block;
	width: 284px;
	height: 48px;
	line-height: 48px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 22px;
	font-weight: 400;
	border-radius: 10px;
}

#buttons05 .button {
	background-color: #95CCC3;
	color: #FFFFFF;
}

#buttons06 {
	gap: 4px;
}

#buttons06 li a {
	display: inline-block;
	width: 284px;
	height: 48px;
	line-height: 48px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 22px;
	font-weight: 400;
	border-radius: 10px;
}

#buttons06 .button {
	background-color: #95CCC3;
	color: #FFFFFF;
}

#buttons07 {
	gap: 4px;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons07 li a {
	display: inline-block;
	width: 170px;
	height: 42px;
	line-height: 42px;
	padding: 0 8px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 18px;
	font-weight: 400;
	border-radius: 10px;
}

#buttons07 .button {
	background-color: #95CCC3;
	color: #FFFFFF;
}

#buttons08 {
	gap: 4px;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons08 li a {
	display: inline-flex;
	width: 104px;
	height: 26px;
	line-height: 26px;
	padding: 0 0.6.5px;
	vertical-align: middle;
	font-family: 'Alexandria', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border-radius: 10px;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons08 .button {
	background-color: #95CCC3;
	color: #FFFFFF;
}

ul {
  list-style:none;
}

